body {
  background: red;
}

/* Apply the font to the "Title" element */
#Title {
  font-family: "Bentham";
  color: #ffffff;
  text-align: center;
  padding-top: 5vh;
  padding-right: 25vw; /* Adjust as needed */
  padding-left: 25vw; /* Adjust as needed */
  font-size: 2vw; /* Adjust as needed */
}

#Text {
  font-family: "Cabin";
  color: #000000;
  text-align: left;
  padding-top: 5vh;
  padding-right: 27vw; /* Adjust as needed */
  padding-left: 27vw; /* Adjust as needed */
  font-size: 1vw; /* Adjust as needed */
}

@media (max-width: 376px) {
  #Title {
    padding-right: 8vw;
    padding-left: 8vw;
    font-size: 5vw;
  }

  #Text {
    padding-right: 9vw;
    padding-left: 9vw;
    font-size: 5vw;
    padding-top: 0vw;
  }
}
